<head>
<link rel="stylesheet" href="css/chat.css"/>
</head>




<md-toolbar id="toolbar" layout="row" flex="66" layout-wrap>
    <div layout="row">
    </div>
</md-toolbar>
<div class="container" layout="row" flex>

    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2" id="sidenav">
      <img id="mdcardImage" ng-src="{{backImageChat}}" >
      <img id="profileImage" ng-src="{{profileChat}}"  >
        <md-list>
            <md-list-item>
                <md-button class="buttonListItem" md-ink-ripple=" blue" ui-sref = "profile.dashboard">
                     <ng-md-icon icon="dashboard" style="fill: " size="40" id="dashboardIcon"></ng-md-icon>
                    Dashboard
                </md-button>
            </md-list-item>


            <md-list-item>
                <md-button class="buttonListItem" md-ink-ripple=" blue" ui-sref = "profile.forum">
                     <ng-md-icon icon="forum" style="fill: " size="40" id="dashboardIcon"></ng-md-icon>
                    Forum
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    </form>
