<head>
<link rel="stylesheet" href="css/chat.css"/>
</head>




<md-toolbar id="toolbar" layout="row" flex="66" layout-wrap>
    <div layout="row">
      <font face="Impact" size="10"><span id="welcomeUser">Welcome {{usernameProfile}}</span></font>
    </div>
</md-toolbar>
<div class="container" layout="row" flex>

    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2" id="sidenav">
      <div id="images">
      <img id="mdcardImage" ng-src="{{backImageChat}}" >
      <img id="profileImage" class="inner-image" ng-src="{{imageProfile}}"  >
      </div>
        <md-list>

          <md-autocomplete
                          ng-disabled="false"
                           md-search-text="searchText"
                           md-items="user in arrayOfPeopleWithImages | filter:searchText"
                           md-selected-item="selectedItem"
                           md-item-text="user.name"
                           md-min-length="0"
                           md-selected-item-change = "dialog(user,$event)"
                           placeholder="Search Sparks....">
        <md-item-template>
          <span class="item-metadata">
            <span class="item-metastat" ng-click= "dialog()">
              {{user.name}}
            </span>
          </span>
        </md-item-template>
        <md-not-found>
          No Match found... Please try again.
        </md-not-found>
      </md-autocomplete>


            <md-list-item ng-repeat= "user in friends">
              <md-button class="buttonListItem" md-ink-ripple=" blue"ng-click="toChat(user.friend.Username, user.friend.email, user.friend.image, user.friend.backimage,user.friend.uid)"
               ui-sref = "chat.chatRoom"
                        >
                   <img ng-src="{{user.friend.image}}" id="friendAvatar"/>
                  <font face="Impact" size="5">{{user.friend.Username}}</font>
              </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    </form>


    <div class="Headbar">
           <div ui-view></div>

       </div>
       </form>

   </div>

   </div>
   </div>
   </div>
