<head>
<link rel="stylesheet" href="css/chatRoom.css"/>
</head>

<div class="chat">
  <div id="chatInbox">
    <md-list>
      <md-list-item class="md-2-line">
        <md-checkbox ng-model="item.done"></md-checkbox>
        <div class="md-list-item-text">
          <h2>Stuff</h2>
        </div>
      </md-list-item>
    </md-list>
  </div>
<form name="Chat" id="chatForm">
<md-input-container id="ChatInput">
    <label style="color:black;">Type a message here...</label>
    <input ng-model= "chatTextValue" ng-minlength="1" type="text" required>

    <md-button class="md-fab" id="fabChat" aria-label="Use Android" ng-click="sendMessageChat();">
  <ng-md-icon icon="send" style="fill: white" size="30" id="fabChatIcon"></ng-md-icon>
</md-button>
</md-input-container>
</form>

</div>
