head>
    <style>
        #ashely{
            width:50px;
            height:50px;
        }
        #image {
    height: auto;
    width: auto;
    max-width: 700px;
    max-height: 300px;
}
    </style>
    <link rel="stylesheet" href="css/userTab.css"/>
</head>

<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{firstNameDialog}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" style="fill: white" size="20"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Profile" ng-click="descritponbuttonShow = false">
          <md-content class="md-padding">
            <h5 class="md-display-6"><img src="{{user.Image}}" alt="" id="image"/></h5>
            <p>
              <div id="images">
              <img id="image" class="inner-image" ng-src="{{image}}"  >

              <div>
                <font face="Impact">{{user.Username}}</font>
                <br>
                <font face="Impact">{{user.Email}}</font>
              </div>

              <md-button type="submit" md-ink-ripple=" #29b6f6" class="md-raised md-primary" ng-click="addFriend()">
                              <ng-md-icon icon="add" style="fill: white" size="20" id="r"></ng-md-icon>
                              Add Friend
                          </md-button>
            </p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <img src="https://lh3.googleusercontent.com/z_dVaAGWaYGLulTy0drwYY6QpdABEOq718yBnFyw6Ejbu9T_r4-3FyOVCb0aNw=w400" id="ashely"/> Was Ashely Usefull?
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" >
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
